.about-collapse-container {
  display: flex;
  justify-content: center;
  .about-collapse-wrapper {
    width: 80%;
    .about-collapse {
      margin-bottom: 1em;
    }
  }
}
@media (max-width: 768px) {
  .about-collapse-container {
    .about-collapse-wrapper {
      width: 90%;
    }
  }
}
