.banner-container {
  position: relative;
  width: 100%;
  display: inline-block;
  .banner {
    border-radius: 10px;
    object-fit: cover;
    filter: brightness(0.7);
  }

  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .banner-container {
    width: 90%;
    .banner-text {
      font-size: 36px;
    }
  }
}
@media (max-width: 425px) {
  .banner-container {
    width: 90%;
    .banner-text {
      left: 0;
      font-size: 24px;
      width: 50%;
      text-align: start;
      transform: translate(10px, -50%);
    }
  }
}
