.error {
  text-align: center;
  .error-number {
    font-size: 10em;
    margin-bottom: 0;
  }
  .error-home {
    margin-top: 10em;
    font-size: medium;
  }
  .error-home:hover {
    cursor: pointer;
  }
}
@media (max-width: 768px) {
  .error-container {
    display: flex;
    justify-content: center;
    .error {
      width: 90%;
      .error-number {
        margin-top: 1.5em;
        font-size: 7em;
      }
    }
  }
}
