nav {
  position: relative;
  margin-top: 1em;
  justify-content: center;
  display: flex;
  .navigation {
    width: 90%;
    position: relative;
    .nav {
      position: absolute;
      right: 0;
      top: 1em;
      .navLink {
        text-decoration: none;
        padding: 1em;
        font-size: x-large;
      }
      a.active {
        text-decoration: underline;
      }
    }
  }
}
@media (max-width: 768px) {
  .nav-logo {
    width: 35%;
    max-width: 128px;
  }
  nav {
    .navigation {
      .nav {
        top: 0.5em;
        .navLink {
          padding: 5px;
        }
      }
    }
  }
}
