nav {
  position: relative;
  margin-top: 1em;
  justify-content: center;
  display: flex;
  .navigation {
    width: 90%;
    position: relative;
    .nav {
      position: absolute;
      right: 0;
      top: 1em;
      .navLink {
        text-decoration: none;
        color: #ff6060;
        padding: 1em;
        font-size: x-large;
      }
    }
  }
}
