.card {
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  text-align: start;
  .card-cover {
    object-fit: cover;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    filter: brightness(0.8);
  }
  .card-title {
    position: absolute;
    bottom: 1em;
    left: 1em;
    color: white;
  }
  &:hover {
    transform: scale(1.01);
  }
}
