.location {
  justify-content: center;
  display: flex;
  .location-details {
    width: 90%;
    .location-info {
      display: flex;
      .title-bloc {
        width: 85%;
        .location-header {
          margin-bottom: 5px;
        }
        .location-tag {
          margin-top: 20px;
        }
      }
      .rating-bloc {
        margin-top: 1em;
        width: 15%;
        text-align: end;
        .host {
          display: flex;
          justify-content: end;
          .host-name {
            height: 1em;
            width: 20%;
            margin-top: 10px;
            font-size: large;
          }
          .host-picture {
            margin-left: 25px;
            border-radius: 60px;
            object-fit: cover;
            width: 64px;
          }
        }
        .rating-star {
          margin-top: 20px;
          width: 36px;
        }
      }
    }
  }
}
.location-collapse {
  justify-content: center;
  display: flex;
}
.location-collapse-wrapper {
  display: flex;
  width: 90%;
  justify-content: space-between;
  .description-collapse {
    width: 45%;
  }
  .equipments-collapse {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .location-collapse-wrapper {
    display: initial;
    .description-collapse {
      width: 100%;
    }
    .equipments-collapse {
      width: 100%;
    }
  }
}
@media (max-width: 1440px) {
  .location {
    .location-details {
      .location-info {
        display: initial;
        .title-bloc {
          width: 100%;
          font-size: 12px;
        }
        .rating-bloc {
          width: 100%;
          display: flex;
          justify-content: space-between;
          .host {
            order: 2;
            margin-bottom: 1em;
            .host-name {
              margin-top: 5px;
            }
            .host-picture {
              margin-left: 2em;
              width: 48px;
            }
          }
          .rating-star {
            order: 1;
            width: 18px;
          }
        }
      }
    }
  }
}
