@import "./header.scss";
@import "./banner.scss";
@import "./error.scss";
@import "./home.scss";
@import "./img_carousel.scss";
@import "./location_card.scss";
@import "./location.scss";
@import "./tag.scss";
@import "./footer.scss";

body {
  margin: 0;
}
.text-color {
  color: #ff6060;
}

.collapse {
  transition-property: height;
  transition-duration: 200ms;
  overflow: hidden;
  background-color: #f6f6f6;
  width: 100%;
  border-radius: 10px;
  .collapse-text {
    padding: 10px;
    font-size: 18px;
  }
}
.collapsible {
  display: inline;
  background-color: #ff6060;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  position: relative;
}
.collapsible:after {
  content: "";
  background-image: url("../assets/arrow-down.png");
  background-size: cover;
}
